<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://res.wx.qq.com/open/libs/weui/1.1.3/weui.min.css">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>Search</title>
</head>
<body ontouchstart>

    <form action="search" method="post">

        <div class="weui-cells weui-cells_form">
            <div class="weui-cell">
                <div class="weui-cell__hd"><label class="weui-label">书籍名称</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input" placeholder="请输入书名" type="text" name="book_name">
                </div>
            </div>
        </div>

        <div class="weui-btn-area">
            <input class="weui-btn weui-btn_primary" id="btn" type="submit" value="搜索">
        </div>


    </form>

</body>
</html>